*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main {height: 65vh;}

.posterbatman{
    height: 300px;
    width: 230px;
    border-radius: 8%;
    flex-wrap: wrap;
    margin-top: 35vh;
    margin-bottom: 35vh;
    margin-left: 2vw;
    margin-right: 2vw;
    /*Centrarlo bien y no con los margenes*/
}

.section{
    display: flex;
    flex-direction: row;
    max-width: 900px;
}

.article{
    margin-top: 35vh;
    margin-bottom: 35vh;
}

.tituloPelicula{
    font-family: poppins;
    text-decoration: none;
    font-size: 28px;
    margin-bottom: 2vh;
    
}

.fecha{
    font-family: poppins;
    font-size: 18px;
    margin-bottom: 2vh;
}

.descripcionPelicula{
    font-family: poppins;
    font-size: 16px;
    margin-bottom: 2vh;
}

main div{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;  
}

.boton{
    background-color: #1473E6;
    border-radius: 15px;
    height: 22px;
    width: 65px;
    margin-right: 10px;
    justify-content:space-around;
    align-items: center;
}

main a { 
    font-family: poppins;
    font-size: 12px;
    color:white;
}


.iconCorazon{
    margin-bottom: 30vh;
    width: 40px;
    filter: invert(39%) sepia(92%) saturate(5128%) hue-rotate(204deg) brightness(99%) contrast(85%);
    /*es un color super especifico*/

    
}