* { box-sizing: border-box; }
	body { margin: 0; }	
ul, ol { padding: 0; }
li { list-style-type: none; }
a { text-decoration: none; color: #000;}

main {padding-bottom:4.4%;}
.titulo {  font-family: 'Poppins'; font-weight: 600; margin-left: 2%;}

.formatoSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.articulo{ 
    width: 33%;
    margin-left: 0%;
    margin-right: 0%;
}

.elemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Portadapeli{
    width: 150px;
    border-radius: 15px;
   
}

.NombrePeli{
    font-family: 'Poppins'; 
    font-weight: 600;
    font-size:18px;
    margin:3% 0 0 0;
}
.fechapelicula{
    font-size: 12px;
    font-family: 'Poppins'; 
    font-weight: 500;
    margin:2% 0 0 0; 
}

@media (max-width:768px)
{
   .titulo {font-size:25px;}
  .articulo{ width:50%; }
   .Portadapeli { width:35%;}
   .fechapelicula {  font-size:12px;}
   .NombrePeli {font-size:12px;}
}

@media (max-width:420px)
{
    main {display:flex;flex-direction:column;}
    .titulo {font-size:24spx; margin: 2% auto; }
  .articulo{ width:100%; margin-bottom:2%; }
}