* { box-sizing: border-box; }
	body { margin: 0; }	
ul, ol { padding: 0; }
li { list-style-type: none; }
a { text-decoration: none; color: #000; }

header{

    height:15vh;
    border-bottom:  2px solid #707070;
    display: flex;
    align-items: center;
}

nav { 
    display: flex;
    align-items: center;
    width: 100%;
    
}

.logo {
    width:6%;
    margin: 0 0 0 5%;
}

.formulario {
    width: 35%;
    margin: 0 0 0 18%;
}
.buscar-grupo {

    border: 1px solid #707070;  
    display: flex;
    justify-content: space-between;
    border-radius:20px;
    overflow: hidden; /*Todo lo que se sale del Div se esconde, los brodes fueran del div, EN HIDDEN*/
}

.input-buscar {
    border: none;
    background: transparent;
    outline: none;
    font-family: 'Poppins';
    font-weight: medium;
    padding-left: 3%;
}

.boton-buscar {
    background-color: #1473E6;
    border: none;
    padding:2%;
}

header a { 
    font-family: 'Poppins';
    font-weight: bold;
    font-size:23px;
    margin:0 3.5%;
}

.favoritos {
    align-self: center;
    width:80%;
    margin-top:20%;
}

@media (max-width:768px)
{
    header a {
        font-size:15px;
    }
    .logo {
        width:9%;
    }
    .formulario {
        margin: 0 0 0 5%;
    }
    .favoritos {
        width:90%;
    }

}

@media (max-width:420px)
{
    header {
        height:30vh;
    }
    nav { 
        flex-direction: column;
      justify-content: center;
    }
    .logo {
        width:20%;
        margin: 2% auto;
    }
    .formulario {margin: 2% 0; width:50%}
    header a { margin: 0.5% 0;
    font-size: 15px;}
    .favoritos {width:60%; margin-left: 15%; }
}