* { box-sizing: border-box; }
	body { margin: 0; }	
ul, ol { padding: 0; }
li { list-style-type: none; }
a { text-decoration: none; color: #000; }



main h2{
    font-family: 'Poppins';
    margin: 3%;
}

main ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main li { 
    
}

.elemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Portadapeli{
    width: 150px;
    border-radius: 15px;
}

.NombrePeli{
    justify-content: center;
    align-items: center;
    font-family: 'Poppins'; 
    font-weight: 600;
    font-size:18px;
}
.fechapelicula{
    font-size: 12px;
    font-family: 'Poppins'; 
    font-weight: 500;
    margin-top: 0.2%;
}
