* { box-sizing: border-box; }
	body { margin: 0; }	
ul, ol { padding: 0; }
li { list-style-type: none; }
a { text-decoration: none; color: #000; }



main h2{
    font-family: 'Poppins';
    margin: 3%;
}

main ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

main li { 
    width: 20%;
    margin-left: 0%;
    margin-right: 0%;
}

.elemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Portadapeli{
    width: 150px;
    border-radius: 15px;
}

.NombrePeli{
    justify-content: center;
    align-items: center;
    font-family: 'Poppins'; 
    font-weight: 600;
    font-size:18px;
}
.fechapelicula{
    font-size: 12px;
    font-family: 'Poppins'; 
    font-weight: 500;
    margin-top: 0.2%;
}

@media (max-width:768px){
    main li{
        width: 33%;
    }
}

@media (max-width: 420px){
    main li{
        width: 45%;
    }
    .NombrePeli {font-size:16px;}
}


