* { box-sizing: border-box; }
	body { margin: 0; }	
ul, ol { padding: 0; }
li { list-style-type: none; }
a { text-decoration: none; color: #000;}


main {padding-bottom:4.9%;}
main h1 {  font-family: 'Poppins'; font-weight: 600; margin-left: 2%;}

main ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;

}

main li{
    width:33%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    }

.Portadapeli{
    width: 150px;
    border-radius: 15px;
   
}

.NombrePeli{
    font-family: 'Poppins'; 
    font-weight: 600;
    font-size:18px;
    margin:3% 0 0 0;
}
.fechapelicula{
    font-size: 12px;
    font-family: 'Poppins'; 
    font-weight: 500;
    margin:2% 0 0 0; 
}

@media (max-width:768px)
{
   main h1 {font-size:25px;}
   main li { width:50%; }
   .Portadapeli { width:35%;}
   .fechapelicula {  font-size:12px;}
   .NombrePeli {font-size:12px;}
}

@media (max-width:420px)
{
    main {display:flex;flex-direction:column;}
    main h1 {font-size:24spx; margin: 2% auto; }
    main li { width:100%; margin-bottom:2%; }
}